php-with-nginx/pureeats/.idea/modules.xml
php-with-nginx/pureeats/.idea/.gitignore
php-with-nginx/pureeats/.idea/php.xml
php-with-nginx/pureeats/.idea/v2.4.1.iml
php-with-nginx/pureeats/.idea/vcs.xml
